form {
  margin-top: 10rem;
  margin-left: 10rem;
  align-items: center;
}

username {
  margin-top: 15rem;
}
password {
  margin-top: 20rem;
}

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
